html, body{
    padding: 0;
    margin: 0;
}
.login-view, .signup-view{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login-form, .signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form input, .signup-form input{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
}
.history-table-row:hover{
    background: #33aee7;
    cursor: pointer;
}
.history-table-active-row{
    background: #33aee7;
}
.history-table thead{
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #dadada;
}
.history-table thead td{
    padding: 2px 10px;
}
.history-table tbody td{
    border-bottom: 1px solid #dadada;
    padding: 5px 0;
}
.transaction-form{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.transaction-form-element{
    margin-right: 20px;
}
.user-list ul{
    list-style: none;
    padding: 0;
    border: 1px solid #dadada;
}
.user-list-element:hover{
    cursor: pointer;
    background: #dadada;
}
.account-sidebar-nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.account-sidebar-nav li{
    width: 100%;
    margin-bottom: 15px;
}
.account-sidebar-nav a{
    width: 100%;
}
.navbar{
    padding: 2vh 2vw 0 2vw;
}
.logout-link{
    padding-top: 0 !important;
}