<div class="account-view">
    <nav class="navbar navbar-default" ng-cloak>
        <ul class="nav navbar-nav navbar-left">
            <li>Current balance: {{user.balance}} PW</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>Username: {{user.name}}</li>            
            <li><a href class="logout-link" ng-click="appLogOut()" title="Log out"><span class="fa fa-sign-out"></span>Log out</a></li>
        </ul>
    </nav>
    <div class="account-body">
        <div class="account-sidebar col-xs-2">
            <ul class="account-sidebar-nav">
                <li><a ui-sref=".history" class="btn btn-info">History</a></li>
                <li><a ui-sref=".transaction" class="btn btn-info">Create transaction</a></li>
            </ul>
        </div>
        <div ui-view class="account-content col-xs-10"></div>
    </div>
</div>