<div class="history">
    <h3>Recent transactions</h3>
    <table class="history-table">
        <thead>
            <td>Date/Time</td>
            <td>Correspondent name</td>
            <td>Transaction amount</td>
            <td>Resulting balance</td>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in transactions" ng-if="transactions.length" class="history-table-row" ng-class="{'history-table-active-row': activeRow[$index]}" ng-click="selectTransaction($index)">
                <td class="text-center">{{transaction.date}}</td>
                <td class="text-center">{{transaction.username}}</td>
                <td class="text-right">{{transaction.amount}} PW</td>
                <td class="text-right">{{transaction.balance}} PW</td>
                <td ng-if="activeRow[$index]" ng-click="copyTransaction(transaction)" class="text-right" style="width: 6vw;">Copy</td>
            </tr>
            <tr ng-if="transactions.length == 0">
                <td colspan="4">No transactions</td>
            </tr>
        </tbody>
    </table>
</div>