<div class="login-view">
    <div class="login-content">
        <h2>Parrot Wings App</h2>
        <form ng-submit="sendForm()" class="login-form">            
            <input type="email" name="email" id="email" placeholder="Enter E-mail" required ng-model="email">
            <input type="password" name="pass" id="pass" placeholder="Enter Password" required ng-model="pass">
            <input type="submit" value="LOGIN" class="login-form-submit">
        </form>
        <div ng-if="errorLoginForm" class="login-error">{{errorLoginFormText}}</div>
        <a ui-sref="signup">SIGNUP</a>
    </div>
</div>