<div class="signup-view">
    <div class="signup-content">
        <h2>Parrot Wings App</h2>
        <form ng-submit="sendForm()" class="signup-form">
            <input type="text" name="name" id="name" placeholder="Enter Your Name" required ng-model="name">
            <input type="email" name="email" id="email" placeholder="Enter E-mail" required ng-model="email">
            <input type="password" name="pass" id="pass" placeholder="Enter Password" required ng-model="pass">
            <input type="password" name="pass2" id="pass2" placeholder="Confirm Password" required ng-model="pass2">
            <input type="submit" value="SIGNUP" class="signup-form-submit">
        </form>
        <div ng-if="errorSignupForm" class="signup-error">{{errorSignupFormText}}</div>
        <a ui-sref="login">LOGIN</a>
    </div>    
</div>