<div class="transaction">
    <h3>Create new transaction</h3>
    <form ng-submit="createTransaction(amount)" class="transaction-form">
        <div class="transaction-form-element">
            <label>Recipient: </label>
            <input type="text" name="recipient" id="recipient" ng-model="recipient" required ng-change="filterUsers(recipient)" placeholder="Pecipient name">
            <div class="user-list" ng-show="showUserList">
                <ul>
                    <li ng-repeat="user in userNames" ng-click="setRecipient(user.name)" class="user-list-element">{{user.name}}</li>
                </ul>
                <!-- <select ng-options="user.id as user.name for user in userNames" ng-model="selectedUser" ng-select="selectUser()"></select> -->
            </div>            
        </div>
        <div class="transaction-form-element">
            <label>Amount, PW: </label>
            <input type="number" min="1" name="amount" id="amount" ng-model="amount" required max="{{user.balance}}" placeholder="Amount">
        </div>
        <div class="transaction-form-element">
            <input type="submit" value="Commit" class="btn btn-info">
        </div>
        
    </form>
    <div ng-if="errorTransaction">{{errorTransactionText}}</div>
</div>